.info-text {
  margin-top: 40px !important;
  margin-right: 40px !important;
  margin-left: 40px !important;
  width: 750px;
  font-size: 2.3vh;
}
.info-text h1 {
  margin-bottom: 10px !important;
  font-size: 3vh;
}

.info-text p {
  margin-bottom: 25px !important;
  font-size: 2.5vh;
}

.info-section {
  display: flex;
  flex-direction: row !important;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #181a1f;
  flex-wrap: wrap;
}

.info-img {
  width: 350px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgb(133, 133, 133);
}

@media screen and (max-width: 960px) {
  .info-section {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    display: flex;
    height: 100%;
    flex-direction: column;
  }
}
