.info-section {
  display: flex;
  flex-direction: row !important;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  background-color: #181a1f;
  flex-wrap: wrap;
}

.info-text {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
  font-size: 2.3vh;
  font-weight: 300;
  line-height: 2.2;
  width: 600px;
}

.info-text h1 {
  font-size: 16pt;
  font-weight: normal;
}

.info-text p {
  margin-bottom: 25px !important;
  font-size: 12pt;
}

.info-img {
  width: 360px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgb(133, 133, 133);
}

.profileImage {
  width: 320px;
  border-radius: 6px;
}

@media screen and (max-width: 960px) {
  .info-section {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .info-img {
    margin-left: 0 !important;
    width: 270px;
    height: 270px;
  }

  .info-text {
    margin-top: 40px !important;
  }
}
