@keyframes fly {
  100% {
    transform: rotate(1turn) translate(220px) rotate(-1turn);
  }
}

@keyframes flyPlus {
  100% {
    transform: rotate(2turn) translate(260px) rotate(2turn);
  }
}
.main-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 35px;
  position: relative;
  overflow: hidden;
}

img {
  filter: blur(60px);
}

.base {
  position: absolute;
  filter: blur(60px);
  opacity: 0.8;
}

.one {
  border-radius: 100%;
  width: 1000px;
  height: 500px;
  background-color: #fdbf63;
  left: 20px;
  top: -30px;
  z-index: 4;
  animation: fly 80s linear;
  transform: rotate(1) translate(500px) rotate(1);
}

.two {
  border-radius: 100%;
  width: 1000px;
  height: 850px;
  bottom: -50px;
  right: -20px;
  z-index: 1;
  background-color: #8351cb;
  animation: flyPlus 70s linear;
  transform: rotate(1) translate(300px) rotate(2);
}
.three {
  border-radius: 100%;
  width: 900px;
  height: 650px;
  bottom: 10px;
  right: -10px;
  z-index: 2;
  background-color: #54a2e5;
  animation: fly 65s linear;
  transform: rotate(0) translate(300px) rotate(2);
}

.four {
  border-radius: 100%;
  width: 800px;
  height: 900px;
  top: 20px;
  left: 40px;
  z-index: 3;
  background-color: rgb(221, 75, 75);
  animation: flyPlus 100s linear;
  transform: rotate(0) translate(500px) rotate(2);
}

.hello {
  font-size: 6vh;
}

.bio {
  margin-left: 60px !important;
  margin-right: 60px !important;
  width: 580px;
  z-index: 1000;
}

.bio h1 {
  margin-bottom: 10px !important;
}

.bio p {
  font-size: 3vh;
  line-height: 4vh;
}

@media screen and (max-width: 960px) {
  .bio {
    font-size: 1.8vh !important;
  }

  .bio p {
    font-size: 2.4vh !important;
  }
}
