.projects-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem !important;
  background-color: #86857e;
}

.projectWrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.project-1 {
  display: flex;
  margin-bottom: 3rem !important;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: solid 1px #f0f0f01a;
}

.right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projectTitle {
  font-size: 60pt;
  font-weight: normal;
}

.projectText {
  display: flex;
  width: 80%;
  margin-top: 1rem !important;
  justify-content: flex-start;
}

.hifiCoverweb {
  width: 68%;
  height: min-content;
  border-radius: 6px;
}

.hifiCoverMobile {
  width: 20%;
  margin-left: 2rem !important;
}

.projectLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 30px !important;
  margin-bottom: 4rem !important;
}
.mid {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.singlePLink {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10pt;
}

.PPLink {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  height: 30px !important;
  background-color: transparent;
}

.PPLink:hover {
  color: var(--text-color);
  border-bottom: solid rgb(255, 255, 255) 1px;
}

.singlePLinkDisabled {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: not-allowed;
  font-size: 10pt;
}

@media (max-width: 576px) {
  .projectTitle {
    top: 18px;
    font-size: 40pt;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right img {
    width: 100%;
  }

  .hifiCoverMobile {
    width: 70% !important;
    margin-left: 0 !important;
    margin-top: 2rem !important;
  }

  .projectLinks {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 30px !important;
  }

  .projectText {
    display: flex;
    width: 100%;
    justify-content: center !important;
  }
}

/* @media (min-width: 768px) { ... }


@media (min-width: 992px) { ... }


@media (min-width: 1200px) { ... } */
