:root {
  --bg-color: #121212;
  --text-color: #fcfbf4;
  --text-secondary: #a9a9a9;
  --nav-primary: #fdbf63;
  --nav-secondary: #8351cb;
  --nav-tertiary: #54a2e5;
}

* {
  color: var(--text-color);
  letter-spacing: 1px;
  margin: 0px 0px 0px 0px !important;
  padding: 0px !important;
  font-family: "Jost", sans-serif;
}

body {
  background-color: var(--bg-color);
}

[data-aos="example-anim2"] {
  background: #121212;
  transition-property: background;
}
[data-aos="example-anim2"].aos-animate {
  background: #86857e;
}

[data-aos="example-anim3"] {
  background: #86857e;
  transition-property: background;
}
[data-aos="example-anim3"].aos-animate {
  background: #181a1f;
}

[data-aos="example-anim4"] {
  background: #181a1f;
  transition-property: background;
}
[data-aos="example-anim4"].aos-animate {
  background: #121212;
}

span {
  text-decoration: none;
  display: inline-block;
}
