:root {
  --bg-color: #121212;
  --text-color: #fcfbf4;
  --text-secondary: #a9a9a9;
  --nav-primary: #fdbf63;
  --nav-secondary: #8351cb;
  --nav-tertiary: #54a2e5;
}

* {
  color: var(--text-color);
  letter-spacing: 1px;
  margin: 0px 0px 0px 0px !important;
  padding: 0px !important;
  font-family: "jost", sans-serif;
}

body {
  background-color: var(--bg-color);
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}

span {
  text-decoration: none;
  display: inline-block;
}

@media screen and (max-width: 960px) {
  .bio {
    font-size: 1.8vh !important;
  }

  .bio p {
    font-size: 2.4vh !important;
  }
  .info-section {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .contact-section h1 {
    font-size: 2.7vh !important;
  }

  .contact-section {
    align-items: center;
    height: 100vh;
  }
}
